body {
    background-color: green;
    color: gold;
        
}

 #main {
    width:20px;
    height:50px;
    position:relative;
    margin:0 auto;
    text-align: center;
        
 }

#output{
    font-family: 'Pacifico', cursive;
    width:200px;   
    margin:0 auto;
    text-align:center;
    line-height: .7em;
 }
    
 #result{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.1em;
    padding: 15px;
 }
 
 
 